$breakpoints: (
  "md": "screen and (min-width: 560px)",
  "lg": "screen and (min-width: 960px)",
  "xl": "screen and (min-width: 1025px)",
);

$white: #fff;
$black: #000;
$theme-color: #24a2b3;
$brown: #aa8f7b;
$brown2: #8c7665;