$headingColor: #282F35;
$primaryColor: #141414;
$secondaryColor: #171717;
$yellowPrimary: #F7D43F;
$black: #000;
$white: #fff;
$breakpoints: (
  "md": "screen and (min-width: 43em)", //688px
  "lg": "screen and (min-width: 62em)", //992px
  "xl": "screen and (min-width: 82em)", //1312px
);