.mainNav{
  position: fixed;
  width: 100%;
  z-index: 100;
  &__menuSp{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }
  &__listSp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
  }
  &__linkSp{
    display: inline-block;
    color: #fffff0;
    font-family: 'Inter',sans-serif;
    margin: 15px 0;
    text-decoration: none;
    transition: .3s;
    &:hover{
      color: #333;
      text-shadow: 2px -2px 3px $text-shadw,
      -2px 2px 3px $text-shadw,
      2px 2px 3px $text-shadw,
      -2px -2px 3px $text-shadw;
    }
  }
  &__menuPc{
    display: none;
    @include mq(lg){
      display: block;
      margin: 5px 0 0 20px;
    }
  }
  &__listPc{
    display: flex;
    list-style: none;
  }
  &__itemPc{
    margin-right: 20px;
  }
  &__linkPc{
    color: #fffff0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    @include fontSize(20);
  }
}
.hamburger{
  position: absolute;
  width: 34px;
  height: 28px;
  top: 10px;
  right: 10px;
  z-index: 100;
  @include mq(lg){
    display: none;
  }
  &:hover{
    cursor: pointer;
  }
  &__content{
    position: absolute;
    width: 30px;
    height: 3px;
    top: 12px;
    left: 2px;
    transition: all .5s ease;
    background-color: #FFF;
    &::before{
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      top: -8px;
      transition: all .5s ease;
      background-color: #FFF;
    }
    &::after{
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      top: 8px;
      transition: all .5s ease;
      background-color: $white;
    }
  }
  &__action{
    transform: rotate(-720deg);
    background-color: transparent;
    &::before{
      transform: rotate(45deg);
      top: 0;
    }
    &::after{
      transform: rotate(135deg);
      top: 0;
    }
  }
}