@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

.main-nav__palm-footer-link--green, .main-nav__palm-footer-link--brown, .main-nav__pc-footer-link--green, .main-nav__pc-footer-link--brown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: inherit;
  color: #fff;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
}

main, .footer {
  max-width: 1500px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body {
  font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
  letter-spacing: .05em;
  font-size: 14px;
  font-size: 0.875rem;
}

@media screen and (min-width: 960px) {
  body {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.logo {
  width: 109px;
  height: 17px;
  fill: #fff;
}

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    height: 23px;
  }
}

.logo--theme-color {
  width: 109px;
  height: 17px;
  fill: #24a2b3;
}

@media screen and (min-width: 1025px) {
  .logo--theme-color {
    width: 145px;
    height: 23px;
  }
}

.arrow {
  width: 20px;
  height: 5px;
}

@media print {
  .arrow {
    display: none;
  }
}

.arrow__nav {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1025px) {
  .arrow__nav {
    display: none;
  }
}

.arrow__footer {
  position: absolute;
  right: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 960px) {
  .arrow__footer {
    display: none;
  }
}

.cart {
  width: 17px;
  height: 17px;
}

.cart--pc {
  width: 20px;
  height: 21px;
}

@media print {
  .cart--pc {
    display: none;
  }
}

.mail {
  width: 17px;
  height: 12px;
}

.mail--pc {
  width: 18px;
  height: 13px;
}

@media print {
  .mail--pc {
    display: none;
  }
}

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@media screen and (min-width: 1025px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1500px;
    height: 80px;
    left: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
  }
}

@media print {
  .main-nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .main-nav__wrapper {
    height: 80px;
    padding-right: 0;
  }
}

@media print {
  .main-nav__wrapper {
    height: 80px;
    padding: 0;
  }
}

.main-nav__wrapper--is-open {
  background-color: #8c7665;
}

.main-nav__logo {
  width: 109px;
}

@media screen and (min-width: 1025px) {
  .main-nav__logo {
    width: 145px;
  }
}

.main-nav__palm-menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 0 5%;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #8c7665;
}

@media screen and (min-width: 1025px) {
  .main-nav__palm-menu {
    display: none;
  }
}

@media print {
  .main-nav__palm-menu {
    display: none;
  }
}

.main-nav__palm-menu--is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-nav__palm-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #aa8f7b;
}

.main-nav__palm-item:last-child {
  border-bottom: 1px solid #aa8f7b;
}

.main-nav__palm-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  padding-left: 3%;
}

.main-nav__palm-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  margin-top: 20px;
}

.main-nav__palm-footer-link--green {
  background-color: #24a2b3;
}

.main-nav__palm-footer-link--brown {
  background-color: #aa8f7b;
}

.main-nav__palm-footer-icon {
  margin-right: 5px;
}

.main-nav__palm-footer-text {
  margin-left: 5px;
}

.main-nav__pc-menu {
  display: none;
}

@media screen and (min-width: 1025px) {
  .main-nav__pc-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media print {
  .main-nav__pc-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav__pc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

@media print {
  .main-nav__pc-list {
    padding-right: 10px;
    height: 80px;
  }
}

.main-nav__pc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__pc-item:nth-of-type(n+2) {
  padding-left: 25px;
}

@media print {
  .main-nav__pc-item:nth-of-type(n+2) {
    padding-left: 10px;
  }
}

.main-nav__pc-link {
  line-height: 60px;
  color: #000;
}

.main-nav__pc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__pc-footer-link--green {
  background-color: #24a2b3;
  width: 194px;
}

@media print {
  .main-nav__pc-footer-link--green {
    width: 120px;
  }
}

.main-nav__pc-footer-link--brown {
  background-color: #aa8f7b;
  width: 175px;
}

@media print {
  .main-nav__pc-footer-link--brown {
    width: 95px;
    margin-left: 10px;
  }
}

.main-nav__pc-footer-icon {
  margin-right: 5px;
}

@media print {
  .main-nav__pc-footer-icon {
    margin: 0;
  }
}

.main-nav__pc-footer-text {
  margin-left: 5px;
}

@media print {
  .main-nav__pc-footer-text {
    margin: 0;
  }
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1025px) {
  .hamburger {
    display: none;
  }
}

@media print {
  .hamburger {
    display: none;
  }
}

.hamburger__top {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 24px;
  border-top: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger__top--is-open {
  border-color: #fff;
  -webkit-transform: translate(3px, 7px) rotate(45deg);
          transform: translate(3px, 7px) rotate(45deg);
}

.hamburger__middle {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20px;
  border-top: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 5px 0;
}

.hamburger__middle--is-open {
  opacity: 0;
}

.hamburger__bottom {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 16px;
  border-top: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger__bottom--is-open {
  width: 24px;
  border-color: #fff;
  -webkit-transform: translate(3px, -7px) rotate(-45deg);
          transform: translate(3px, -7px) rotate(-45deg);
}

.link-hover {
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 960px) {
  .link-hover:hover {
    text-shadow: 0 0 5px #24a2b3;
  }
}

.swiper-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  z-index: 9;
  background-color: #8c7665;
}

.swiper-heading {
  position: absolute;
  top: 35%;
  left: 7%;
  color: #fff;
  font-weight: 500;
  letter-spacing: .2em;
  z-index: 10;
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (min-width: 960px) {
  .swiper-heading {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.swiper-img {
  width: 100%;
}

@media screen and (min-width: 560px) {
  .swiper-img {
    display: none;
  }
}

@media print {
  .swiper-img {
    display: none;
  }
}

.swiper-img-lg {
  display: none;
}

@media screen and (min-width: 560px) {
  .swiper-img-lg {
    display: block;
    width: 100%;
  }
}

@media print {
  .swiper-img-lg {
    display: block;
    width: 100vw;
  }
}

@media screen and (min-width: 1025px) {
  .swiper-pagination-bullets {
    bottom: 70px !important;
  }
}

@media print {
  .swiper-pagination-bullets {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .line-break--till-md {
    display: none;
  }
}

.news {
  background-color: #f7f6f5;
  padding: 0 5% 10px;
}

.news__wrapper {
  position: relative;
  top: -40px;
  padding-top: 35px;
  padding-bottom: 40px;
  z-index: 1;
  background-color: #fff;
}

@media screen and (min-width: 960px) {
  .news__wrapper {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 960px;
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1025px) {
  .news__wrapper {
    top: -60px;
  }
}

.news-group {
  padding: 20px 3.5% 6px;
}

@media screen and (min-width: 560px) {
  .news-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 56px;
  }
}

@media print {
  .news-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.news-group__body {
  padding-bottom: 20px;
}

@media screen and (min-width: 560px) {
  .news-group__body {
    padding: 0 5%;
  }
}

@media screen and (min-width: 560px) {
  .news-group__body--second-row {
    padding-top: 40px;
  }
}

.news-group__date {
  font-weight: 700;
  padding-right: 6px;
}

.news-group__title {
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 500;
  padding: 3px 10px;
  background-color: #24a2b3;
}

.news-group__link {
  display: block;
  font-weight: 500;
  color: #000;
  margin-top: 10px;
}

@media screen and (min-width: 960px) {
  .news-group__link {
    margin-top: 14px;
  }
}

.card-primary {
  padding-top: 20px;
}

.card-primary__img {
  width: 100%;
}

.card-primary__body {
  padding-top: 15px;
  padding-bottom: 40px;
}

.card-primary__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}

.card-primary__copy {
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 560px) {
  .card-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 0;
  }
}

@media print {
  .card-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 0;
  }
}

@media screen and (min-width: 560px) {
  .card-primary__figure {
    width: 50%;
  }
}

@media print {
  .card-primary__figure {
    width: 50%;
  }
}

@media screen and (min-width: 560px) {
  .card-primary__body {
    width: 50%;
    padding: 0;
  }
}

@media print {
  .card-primary__body {
    width: 50%;
  }
}

@media screen and (min-width: 560px) {
  .card-primary__body--right {
    margin-left: 5%;
  }
}

@media print {
  .card-primary__body--right {
    margin-left: 5%;
  }
}

@media screen and (min-width: 560px) {
  .card-primary__body--left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 5%;
  }
}

@media print {
  .card-primary__body--left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 5%;
  }
}

@media screen and (min-width: 960px) {
  .card-primary__title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .card-primary__copy {
    padding-bottom: 60px;
  }
}

.card-primary__copy--first {
  padding-bottom: 50px;
}

@media screen and (min-width: 960px) {
  .card-primary__copy--first {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 560px) {
  .card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3% 0;
  }
}

@media screen and (min-width: 960px) {
  .card-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media print {
  .card-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .card-group__middle {
    margin: 0 5%;
  }
}

@media print {
  .card-group__middle {
    margin: 0;
  }
}

.card-secondary {
  padding-top: 20px;
}

.card-secondary__img {
  width: 100%;
}

.card-secondary__body {
  padding-top: 18px;
  padding-bottom: 40px;
}

.card-secondary__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}

.card-secondary__copy {
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 560px) {
  .card-secondary {
    width: 47%;
    padding-top: 0;
  }
}

@media print {
  .card-secondary {
    margin: 0 2%;
  }
}

@media screen and (min-width: 960px) {
  .card-secondary__body {
    padding-top: 5%;
  }
}

.card-secondary__copy {
  padding-bottom: 5%;
}

@media screen and (min-width: 960px) {
  .card-secondary__copy {
    padding-top: 5%;
  }
}

.store-card {
  padding-top: 7px;
}

.store-card__img {
  width: 100%;
}

.store-card__body {
  padding-top: 18px;
  padding-bottom: 47px;
}

.store-card__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}

.store-card__copy {
  line-height: 2;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 15px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 560px) {
  .store-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .store-card:first-child {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 960px) {
  .store-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media print {
  .store-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 560px) {
  .store-card__figure {
    min-width: 50%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 960px) {
  .store-card__figure {
    min-width: unset;
    width: 33%;
  }
}

@media print {
  .store-card__figure {
    min-width: 50%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 560px) {
  .store-card__body {
    min-width: 50%;
    padding: 0;
  }
}

@media print {
  .store-card__body {
    min-width: 50%;
    padding: 0;
  }
}

.store-card__link {
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 15px;
  font-size: 0.9375rem;
}

.store {
  background-color: #f7f6f5;
  padding: 31px 5% 0;
}

@media screen and (min-width: 560px) {
  .store {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media print {
  .store {
    padding-bottom: 30px;
  }
}

.hero {
  padding-top: 60px;
}

@media screen and (min-width: 1025px) {
  .hero {
    padding-top: 80px;
  }
}

@media print {
  .hero {
    padding-top: 0;
  }
}

.sub-heading {
  text-align: center;
}

.sub-heading-primary {
  font-weight: 500;
  letter-spacing: .15em;
  padding-bottom: 3px;
  font-size: 20px;
  font-size: 1.25rem;
}

@media screen and (min-width: 960px) {
  .sub-heading-primary {
    padding-bottom: .7%;
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.sub-heading-primary--white {
  color: #fff;
}

@media print {
  .sub-heading-primary--white {
    color: #fff !important;
  }
}

.sub-heading-secondary {
  color: #aa8f7b;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-heading-secondary--white {
  color: #fff;
}

.btn {
  position: relative;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  letter-spacing: .1em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid #000;
  background-color: #fcfcfc;
}

@media screen and (min-width: 960px) {
  .btn {
    height: 53px;
  }
  .btn:hover {
    background-color: #ddd;
  }
}

@media screen and (min-width: 560px) {
  .btn--md-left {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn-footer {
  position: relative;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 45px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  letter-spacing: .1em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid #fff;
  background-color: transparent;
}

@media screen and (min-width: 960px) {
  .btn-footer {
    height: 53px;
  }
  .btn-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 960px) {
  .btn-footer:hover {
    border-color: #ddd;
  }
}

.furniture {
  padding: 28px 5% 0;
}

@media screen and (min-width: 560px) {
  .furniture {
    padding-top: 5%;
  }
}

.furniture__body {
  padding-top: 37px;
}

@media screen and (min-width: 560px) {
  .furniture__body {
    padding-top: 3%;
  }
}

.recruit {
  position: relative;
  overflow: hidden;
}

.recruit__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 5%;
}

.recruit__img {
  max-width: 100%;
}

@media screen and (min-width: 560px) {
  .recruit__img {
    display: none;
  }
}

@media print {
  .recruit__img {
    display: none;
  }
}

.recruit__img-lg {
  display: none;
}

@media screen and (min-width: 560px) {
  .recruit__img-lg {
    position: relative;
    left: 50%;
    display: block;
    max-height: 430px;
    min-width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media print {
  .recruit__img-lg {
    position: relative;
    left: 50%;
    display: block;
    max-height: 430px;
    min-width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.recruit__body {
  padding-top: 25px;
  padding-bottom: 15px;
}

@media screen and (min-width: 560px) {
  .recruit__body {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

.recruit__copy {
  color: #fff;
  letter-spacing: .2em;
  line-height: 2.1;
  text-align: center;
  font-size: 15px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 960px) {
  .recruit__copy {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media print {
  .recruit__copy {
    color: #fff !important;
  }
}

.footer {
  color: #fff;
  background-color: #000;
}

@media screen and (min-width: 960px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 5%;
  }
}

@media print {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 5%;
  }
}

.footer__company {
  padding-top: 30px;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .footer__company {
    padding: 0;
    text-align: left;
  }
}

@media print {
  .footer__company {
    padding: 0;
    text-align: left;
  }
}

.footer__company-name {
  padding: 12px 0 3px;
}

@media screen and (min-width: 960px) {
  .footer__company-name {
    padding-top: 22px;
  }
}

@media print {
  .footer__company-name {
    padding-top: 22px;
  }
}

.footer__company-tel {
  padding: 21px 0 25px;
  font-size: 25px;
  font-size: 1.5625rem;
}

@media screen and (min-width: 960px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media print {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__item {
  border-top: 1px solid #555;
  list-style: none;
}

@media screen and (min-width: 960px) {
  .footer__item {
    border: none;
  }
}

@media print {
  .footer__item {
    border: none;
  }
}

.footer__item--last {
  border-bottom: 1px solid #555;
}

@media screen and (min-width: 960px) {
  .footer__item--last {
    border: none;
  }
}

@media print {
  .footer__item--last {
    border: none;
  }
}

.footer__menu-products-link {
  position: relative;
  display: block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (min-width: 960px) {
  .footer__menu-products-link {
    line-height: unset;
    height: unset;
  }
  .footer__menu-products-link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 960px) {
  .footer__menu-products-link {
    min-width: 200px;
    padding: 0 0 15px;
  }
}

@media print {
  .footer__menu-products-link {
    min-width: 200px;
    padding: 0 0 15px;
    line-height: unset;
    height: unset;
  }
}

.footer__menu-info-link {
  position: relative;
  display: block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding-right: 5%;
  padding-left: 6%;
  z-index: 1;
  background-color: #000;
}

@media screen and (min-width: 960px) {
  .footer__menu-info-link {
    line-height: unset;
    height: unset;
  }
  .footer__menu-info-link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 960px) {
  .footer__menu-info-link {
    width: 100px;
    padding: 0 0 15px;
  }
}

@media print {
  .footer__menu-info-link {
    width: 100px;
    padding: 0 0 15px;
    line-height: unset;
    height: unset;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

@media screen and (min-width: 960px) {
  .footer__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    padding: 0 5% 30px;
  }
}

@media print {
  .footer__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    padding: 0 5% 30px;
  }
}

.footer__bottom-text {
  font-size: 12px;
  font-size: 0.75rem;
}

@media screen and (min-width: 960px) {
  .footer__bottom-text:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media print {
  .footer__bottom-text:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.dropdown {
  position: relative;
  display: block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (min-width: 960px) {
  .dropdown {
    line-height: unset;
    height: unset;
  }
  .dropdown:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 960px) {
  .dropdown {
    padding: 0 0 5px;
  }
}

@media print {
  .dropdown {
    height: unset;
    line-height: unset;
  }
}

.dropdown__icon {
  position: absolute;
  width: 27px;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .dropdown__icon {
    display: none;
  }
}

@media print {
  .dropdown__icon {
    display: none;
  }
}

.dropdown__icon-minus {
  display: none;
}

.dropdown__icon--open {
  opacity: 0;
}

.dropdown__contents {
  position: relative;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 960px) {
  .dropdown__contents {
    height: auto;
  }
}

.dropdown__contents--open {
  height: 100px;
}

.dropdown__item {
  list-style: none;
}

.dropdown__link {
  position: relative;
  display: block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (min-width: 960px) {
  .dropdown__link {
    line-height: unset;
    height: unset;
  }
  .dropdown__link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 960px) {
  .dropdown__link {
    padding-bottom: 5px;
    padding-left: 5%;
  }
}

@media print {
  .dropdown__link {
    height: unset;
    line-height: unset;
  }
}
/*# sourceMappingURL=style.css.map */