.service-page{
  padding: 40px 20px 80px;
  @include mq(md){
    padding: 40px 25px 80px;
  }
  @include mq(lg){
    @include layout-center();
    padding: 70px 30px 110px;
  }
  &__content{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }
    @include mq(md){
      display: flex;
      gap: 50px;
      margin-bottom: 60px;
    }
  }
  &__figure{
    @include mq(md){
      min-width: 40%;
    }
  }
  &__img{
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &__body{
    margin-top: 20px;
    @include mq(md){
      margin-top: 0;
    }
  }
  &__title{
    font-weight: 700;
    text-align: center;
    @include font-size(18);
    @include mq(md){
      text-align: start;
    }
  }
  &__copy{
    margin-top: 15px;
    white-space: pre-line;
  }
}