.top-page{
  @include layout-center();
}
.hero{
  position: relative;
  display: flex;
  align-items: center;
  color: $white;
  height: 100vh;
  padding:0 15%;
  z-index: 1;
  background: url("../img/bg/bg-main.png") bottom 50% right 42% / cover no-repeat;
  @include mq(md){
    padding: 0;
  }
  &__heading{
    @include mq(md){
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &-primary{
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 20px;
      white-space: pre-line;
      @include font-size(48);
      @include mq(md){
        white-space: normal;
        @include font-size(72);
      }
    }
    &-secondary{
      font-weight: 600;
      margin-bottom: 50px;
      white-space: pre-line;
      line-height: 2;
      @include font-size(16);
      @include mq(sm){
        white-space: normal;
      }
      @include mq(md){
        @include font-size(24);
      }
    }
  }
  &__scroll{
    position: absolute;
    bottom: 60px;
    right: 0px;
    margin: 0 12px;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    &::after{
      content: "";
      display: inline-block;
      width: 1px;
      height: 0px;
      position: absolute;
      right: 50%;
      top: 70px;
      border-radius: 3px;
      transform: translateX(50%);
      animation: 1.5s cubic-bezier(1,0,0,.99) .5s infinite scrollLine;
      background-color: $white;
      @keyframes scrollLine {
        0%{
          height: 0;
        }
        50%{
          height: 55px;
          top: 70px;
        }
        100%{
          top: 130px;
        }
      }
    }
  }
}
.sub-heading{
  color: $purple1;
  padding-bottom: 30px;
  text-align: center;
  &__primary{
    font-weight: 700;
    @include font-size(30);
    @include mq(md){
      @include font-size(36);
    }
  }
  &__secondary{
    font-weight: 700;
    letter-spacing: .1em;
    @include font-size(13);
    @include mq(md){
      @include font-size(14);
    }
    &--left{
      @include mq(lg){
        text-align: start;
      }
    }
  }
}
.news{
  padding: 40px 20px;
  @include mq(md){
    padding: 70px 30px 40px;
  }
  @include mq(lg){
    display: flex;
    justify-content: center;
  }
  &__list{
    @include mq(md){
      margin-left: 50px;
    }
  }
}
.service{
  padding: 40px 20px;
  @include mq(md){
    padding: 80px 25px 40px;
  }
  &__inner{
    @include mq(md){
      display: flex;
      gap: 30px;
      margin-bottom: 30px;
    }
  }
  &__content{
    margin-bottom: 40px;
    @include mq(md){
      margin-bottom: 0px;
    }
  }
  &__img{
    max-width: 100%;
  }
  &__title{
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    @include font-size(18);
    @include mq(md){
      margin: 15px 0 10px;
    }
  }
  &__copy{
    line-height: 1.78;
  }
}
.works{
  position: relative;
  padding: 40px 0;
  z-index: 1;
  @include mq(md){
    padding: 110px 0 0;
    background-color: $white;
  }
  &__wrapper{
    position: relative;
    padding-bottom: 60px;
    &::after{
      position: absolute;
      display: block;
      bottom: 0;
      height: 75%;
      width: 100%;
      content: '';
      z-index: -1;
      background-color: $bg-gray1;
    }
      @include mq(md){
        display: flex;
        top: 0;
        align-items: center;
        padding: 60px 0;
        &::after{
          height: 100%;
          width: 66%;
          right: 0;
        }
      }
  }
  &__inner{
    margin: 0 20px;
    @include mq(md){
      width: 65%;
      height: 100%;
      position: absolute;
      right: 0;
    }
  }
  &__detail{
    @include mq(md){
      position: absolute;
      top: 50%;
      right: 0;
      width: 50%;
      transform: translateY(-50%);
    }
  }
  &__copy{
    text-align: center;
    white-space: pre-line;
    margin-bottom: 30px;
  }
}
.company{
  position: relative;
  padding:40px 0 85px;
  z-index: 0;
  background: url("../img/bg/top-bubbles-mobile.jpg") center / contain no-repeat;
  @include mq(md){
    padding-top: 70px;
    background-image: url("../img/bg/top-company.jpg");
  }
}
.recruit{
  padding: 40px 0 80px;
  @include mq(lg){
    display: flex;
    padding: 55px 0 100px;
  }
  &__img{
    max-width: 100%;
    transform: translateY(6px);
    @include mq(lg){
      transform: none;
      height: 100%;
    }
  }
  &__inner{
    padding: 60px 0 50px;
    text-align: center;
    background-color: $bg-gray2;
    @include mq(lg){
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      order: -1;
      width: 80%;
    }
  }
  &__copy{
    margin-bottom: 30px;
  }
}
.contact{
  &__inner{
    padding: 60px 20px;
    text-align: center;
    background-color: $bg-gray2;
    @include mq(md){
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }
  &__copy{
    margin-bottom: 30px;
  }
}